<%- layout('layouts/main') %>

<div class="text-center mainTitle">
    <h1>Login and Register Nodejs MsSql</h1>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <div class="text-center contentDiv">
            <a href="/signin" class="btn btn-success">Sing IN</a>
            <a href="/signup" class="btn btn-success">Sing UP</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>